html {
  scroll-behavior: smooth;
}

body {
  font-family: "Scope One", serif;
}

.carousel-item {
  max-height: 85vh;
}

/* Media Queries*/

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .time {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .btn {
    font-weight: bold;
    width: 80vh;
    margin-left: auto;
    margin-right: 10vh;
    padding: 1rem;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .heading {
    font-size: 2rem !important;
  }
  .sub-heading {
    font-size: 1rem !important;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

/* Media Queries End*/

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/*Firefox bug Fix*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Bootstrap Padding Fix */
[class*="col-"] {
  padding: 1rem;
}

.heading {
  font-family: "Rubik", sans-serif;
}
.sub-heading {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/*About Section */

.about_heading {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 40px;
}

.about-section {
  font-family: "Scope One", serif;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_me {
  max-width: 5rem;
  margin-top: relative;
  display: flex;
  padding: 20%;
  justify-content: center;
  align-items: center;
}

/*About Section End*/

/*Experience Section*/

.exp-title {
  font-family: "Nunito Sans", sans-serif;
}

.experience-section {
  background-image: url("/Portfolio/images/ex-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fa-briefcase {
  background: rgb(245, 187, 132);
  padding: 7px;
  border-radius: 50%;
  z-index: 100;
}

.experience-info {
  font-family: "Scope One", serif;
  background-color: rgb(241, 233, 233);
  padding: 5%;
  margin-bottom: 5%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.experience-info:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 0pc 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*Experience Section End */

/*Education Section */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-graduation-cap {
  background: white;
  padding: 2px;
  border-radius: 50%;
  z-index: 100;
}

.timeline::after {
  content: "";
  position: absolute;
  background-color: #ff9f55;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
}

.edu-heading {
  font-family: "Nunito Sans", sans-serif;
}

.education-info {
  font-family: "Scope One", serif;
  background-color: rgb(248, 248, 239);
  padding: 2%;
  margin-bottom: 5%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.education-info:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 0pc 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*Education Section End */

/*Skill section  */

.skill-heading {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 2.5rem;
  color: #dd4b11;
}

.skills-section {
  font-family: "Scope One", serif;
  background-image: url("/Portfolio/images/skill-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
}

.skills-section .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills-section .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.skills-section .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills-section .progress-bar-wrap {
  background: #f2f3f5;
}

.skills-section .progress-bar {
  width: 1px;
  height: 15px;
  transition: 0.9s;
  background-color: #dd4b11;
}

/*Skill Section End */

/*Contact Section */

.contact-title {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 2rem;
}

#contact {
  background-image: url("/Portfolio/images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker";
  color: #000000;
}

.form-group {
  font-family: "Scope One", serif;
  font-size: 1.2rem;
}

.btn {
  font-weight: bold;
  width: 80vh;
  margin-left: auto;
  margin-right: 10vh;
}

/*Contact Section End */
