
body {
  font-family: "Zilla Slab", serif;
}

.carousel-item {
  max-height: 85vh;
}

/* Media Queries*/
@media (min-width: 993px) {
  .img_me {
    max-height: 30% !important;
  }
}
@media (max-width: 992px) {
  .img_me {
    max-height: 40% !important;
  }
}

@media (max-width: 800px) {
  .heading1 {
    font-size: 3rem !important;
  }
  .heading2 {
    font-size: 3rem !important;
  }
  .sub-heading {
    font-size: 1.5rem !important;
  }
  .img_me {
    max-height: 40% !important;
  }
}

@media (max-width: 576px) {
  .about-section {
    font-size: none !important;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/*Firefox bug Fix*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Bootstrap Padding Fix */
[class*="col-"] {
  padding: 1rem;
}

.sub-heading {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about_heading {
  font-family: "Lato", cursive;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 40px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_me {
  max-width: 5rem;
  margin-top: relative;
  display: flex;
  padding:20%;
  justify-content: center;
  align-items: center;
}

 .Experience{
   display:flex;
   align-items: center;
   justify-content: center;
 }

 .card-body{
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }

.card-body:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 0px 0pc 0 rgba(0,0,0,0.19);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

 .time{
  display:flex;
  align-items: center;
  justify-content: center;
 }
