body{
  font-family: 'Zilla Slab', serif;
}

.carousel-item{
  max-height:85vh ;
}

/* Media Queries*/
@media(min-width: 993px){
  .img_me{
    max-height: 30% !important;
   }
}
@media (max-width: 992px){
  .img_me{
    max-height: 40% !important;
   }

}

@media (max-width: 800px){
  .heading1{
    font-size: 3rem !important;
   }
   .heading2{
    font-size: 3rem !important;
   }
   .sub-heading{
    font-size: 1.5rem !important;
   }
   .img{

    margin-left: auto;
    margin-right: auto;

  }
  .img_me{
    margin-top: 0.5rem !important;
    padding: 0% !important;
  }

}

@media (max-width: 576px){
  
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}


/*Firefox bug Fix*/
.carousel-item{
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Bootstrap Padding Fix */
[class*="col-"]{
  padding: 1rem;
}


.sub-heading{
  position: relative;
  display:flex;
  align-items: flex-end;
  justify-content: center;
}

.about-section{
  display:flex;
  align-items: center;
}

.about{
  display:flex;
  align-items: center;
  justify-content:center;
}

.about_heading{
  font-family: 'Lato', cursive;
  font-size: 40px; 
  white-space: nowrap;
  overflow: hidden;
  width: 10em;
  animation: title 5s steps(70, end); 
  margin-bottom: 40px;

}

@keyframes title{ 
  from { width: 0; opacity: 0.0;}
  to { opacity: 1.0; } 
} 


.img{
  margin:auto;
  max-width: 50vh !important;
 
}
.img_me{
  
}
.About-section{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
